/* CSS RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Generics */

.container{
    max-width: 1500px;
    margin: 0 auto;
}

.header-container{
    background-color: #0084fd;
}

.violet-container{
    background-color: #9792e4;
}

.footer-container{
    background-color: rgba(0, 0, 0, 0.7);
}

/*
header{
    background-color: #0084fd;
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.wrapper{
    height: calc(100vh - 60px);
    overflow-y: auto; 
}
*/

.header{
    height: 60px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 0 1rem;
}

.mini-container{
    max-width: 576px;
    padding: 0 1rem;
}

img{
    max-width: 100%;
}

/* Utils */

/* Header */
.logo-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.fa-bars{
    color: white;
    font-size: 25px;
}

.list-flex{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-bar{
    display: none;
}

.nav-bar li{
    list-style-type: none;
    padding: 15px;
}

.nav-bar a{
    text-decoration: none;
    color: white;
}

.btn-nav{
    padding: 10px 15px;
    border-radius: 15px;
    border: none;
}


/* Main */
/* first section 5 cards */
.operations{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.card{
    min-height: 100px;
    background-color: lightblue;
    /* border: 2px dashed red; */
    margin-bottom: 30px;
    flex-basis: 100%;
    padding: 30px;
}

.large-card{
    min-height: 180px;
    background-color: lightblue;
    /* border: 2px dashed red; */
    margin-bottom: 1rem;
    flex-basis: 100%; 
    padding: 30px;
}

.content-card{
    width: 90%;
    height: 100%; 
    margin: 0 auto;
}

/* second section Strategic Planning */
.planning-card{
    min-height: 180px;
    /* border: 2px dashed red; */
    margin-bottom: 1rem;
    background-color: white;
    width: 100%;
}

.violet-container h2, p{
    color: white;
    text-align: left;
    align-self: flex-start;
}

.violet-container h2{
    font-size: 35px;
}

.violet-container p{
    font-size: 20px;
}

.violet-container *{
    padding-bottom: 20px;
}

.planning-card p{
    color: black;
}

.fa-arrow-down{
    font-size: 25px;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #9792e4;
    text-align: center;
    line-height: 40px;
}


/* third section expert partners */
.card-partners{
    min-height: 150px;
    /* border: 2px dashed red; */
    margin-bottom: 1rem;
    background-color: #9792e4;
    width: 100%;
}

.expert-partners p{
    color: black;
}

.head-partners *{
    padding-bottom: 20px;
}

.card-partners p, h3{
    color: white;
    font-size: 30px;
    padding-bottom: 25px;
    text-align: center;
}

/* fourth section Benefits */
.column{
    margin-bottom: 1rem;
    padding: 1rem;
}

.benefits-card{
    background-color: white;
    min-height: 100px;
    
}


/*********************
  TABLET RESPONSIVE
  ********************/
@media  screen and (min-width:577px) {
    .mini-container{
        max-width: 1199px;
    }

    /* first section tablet media quesry */
    .operations{
        justify-content: space-between;
    }

    .large-card{
        flex-basis: calc((100% / 3) * 2 - 2rem);
        height: 350px;
        margin: 1rem;
    }

    .card{
        flex-basis: calc((100% / 3) - 2rem);
        margin: 1rem;
        height: 350px;
    }

    
    /*second section tablet media quesry */
    .content-planning{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .violet-container{
        width: 100%;
    }

    .planning-card{
        width: 100%;
    }

    .strategic-planning{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* third section tablet media quesry */
    .card-partners{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 200px;
    }

    /* fourth section Benefits media query */
    .row{
        display: flex;
        flex-wrap: wrap;
    }

    .column{
        flex-basis: 50%;
    }

}

/*********************
  DESKTOP RESPONSIVE
  ********************/
@media screen and (min-width: 1200px) {
    .mini-container{
        max-width: 1499px;
        padding: 0 3rem;
    }
    
    /* Header media query */
    .nav-bar{
        display: block;
    }

    .fa-bars{
        display: none;
    }
    
    /* first section desktop media quesry */
    .card{
         height: 250px;
    }

    .large-card{
         height: 250px;
    }
    
    /* second section desktop media query */
    .content-planning{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    }

    .planning-card{
        min-height: 200px;
    }

    .violet-container *{
        padding: 10px;
    }

    .planning-card p{
        font-size: 15px;
    }

    .fa-arrow-down{
        font-size: 15px;
        width: 35px;
        height: 35px;
        line-height: 30px;
        padding: 3px; 
    }

    /* third section desktop media query */

    /* fourth section Benefits media query */
    .column{
        flex-basis: calc(100% / 3);
    }
    
}

