/* CSS RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Generics */

.container{
    max-width: 1500px;
    margin: 0 auto;
}

.header-container{
    background-color: #0084fd;
    margin-bottom: 3rem;
}

.violet-container{
    background-color: #9792e4;
}

.footer-container{
    background-color: rgba(0, 0, 0, 0.7);
}

.header{
    height: 60px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 0 1rem;
}

.mini-container{
    max-width: 768px;
    padding: 0 1rem;
}

img{
    max-width: 100%;
    display: block;
}

/* Utils */
img{
    height: 200px;
}

header img{
    height: 50px;
}

.operations img{
    height: 250px;
}

.planning img{
    height: 350px;
}


/* Header */
.logo-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 1rem;
}

.fa-bars{
    color: white;
    font-size: 25px;
}

.list-flex{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-bar{
    display: none;
}

.nav-bar li{
    list-style-type: none;
    padding: 15px;
}

.nav-bar a{
    text-decoration: none;
    color: white;
}

.btn-nav{
    padding: 10px 15px;
    border-radius: 15px;
    border: none;
}


/* Main */
/* first section 5 cards */
.operations{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding-bottom: 3rem;
}

.card{
    min-height: 100px;
    background-color: lightblue;
    /* border: 2px dashed red; */
    margin-bottom: 30px;
    flex-basis: 100%;
    padding: 30px;
}

.large-card{
    min-height: 180px;
    background-color: lightblue;
    /* border: 2px dashed red; */
    margin-bottom: 1rem;
    flex-basis: 100%; 
    padding: 30px;
}

.content-card{
    width: 90%;
    height: 100%; 
    margin: 0 auto;
}

/* second section Strategic Planning */
.content-planning{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.strategic-planning{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.planning-card{
    min-height: 180px;
    margin-bottom: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.planning h2, p{
    color: white;
    text-align: left;
    align-self: flex-start;
}

.planning h2{
    font-size: 35px;
}

.planning p{
    font-size: 20px;
}

.planning *{
    padding: 1.5rem 0;
}

.planning-card *{
    color: black;
}

.fa-arrow-down{
    font-size: 25px;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #9792e4;
    text-align: center;
    line-height: 40px;
}


/* third section expert partners */
.card-partners{
    min-height: 150px;
    /* border: 2px dashed red; */
    margin-bottom: 1rem;
    background-color: #9792e4;
    width: 100%;
}

.expert-partners p{
    color: black;
}

.expert-partners *{
    padding: 1.5rem 0;
}

.card-partners p, h3{
    color: white;
    font-size: 30px;
    padding-bottom: 25px;
    text-align: center;
}

/* fourth section Benefits */
.column{
    padding: 0.5rem;
}

.benefits-card{
    background-color: white;
    min-height: 100px;
}

.benefits h2{
    padding: 3rem 0;
}

.benefits{
    padding-bottom: 2rem;
}

/* fifth section About us */
.text-aboutus p{
    color: black;
    line-height: 2rem;
}

.text-aboutus h2{
    padding: 3rem 0;
    font-size: 45px;
}

.about-us{
    color: #9792e4
}

.about-us *{
    padding-bottom: 1.5rem;
}

/* sixth section Price */
   .price *{
    padding-bottom: 1.5rem;
    text-align: center;
   }

   .tranparent-title{
    width: 90%;
   }

   .transparent-title h2{
    text-align: center;
    color: white;
    font-size: 50px;
   }

   .price{
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .transparent-pricing h4{
    padding-top: 1.5rem;
    color:rgba(255, 255, 255, 0.5);
   }


/*********************
  TABLET RESPONSIVE
  ********************/
@media  screen and (min-width:769px) {
    .mini-container{
        max-width: 1199px;
    }

    /* first section tablet media quesry */
    .operations{
        justify-content: space-between;
    }

    .large-card{
        flex-basis: calc((100% / 3) * 2 - 2rem);
        height: 350px;
        margin: 1rem;
    }

    .card{
        flex-basis: calc((100% / 3) - 2rem);
        margin: 1rem;
        height: 350px;
    }

    
    /*second section tablet media quesry */
    .violet-container{
        width: 100%;
    }

    .planning-card{
        width: 100%;
    }

    .strategic-planning{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* third section tablet media quesry */
    .card-partners{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 200px;
    }

    /* fourth section tablet media query */
    .row{
        display: flex;
        flex-wrap: wrap;
    }

    .column{
        flex-basis: 50%;
    }

    /* fifth section tablet media query */
    .about-us{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .about-us > *{
        padding: 2rem;
    }

    .text-aboutus{
        flex-basis: 55%;
        /* height: 500px; */
    }

    .img-aboutus{
        flex-basis: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-aboutus img{
        margin: 3rem 0 0;
    }
}

/*********************
  DESKTOP RESPONSIVE
  ********************/
@media screen and (min-width: 1200px) {
    .container{
        max-width: 100%;
    }
    
    .mini-container{
        max-width: 100%;
        padding: 0 3rem;
    }
    
    /* Header media query */
    .logo-flex{
        padding: 0.7rem 1rem;
    }

    .nav-bar{
        display: flex;
    }

    .fa-bars{
        display: none;
    }
    
    /* first section desktop media quesry */
    .card{
         height: 250px;
    }

    .large-card{
         height: 250px;
    }
    
    /* second section desktop media query */
    .content-planning{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    }

    .planning-card{
        min-height: 200px;
    }

    .violet-container *{
        padding: 10px;
    }

    .planning-card p{
        font-size: 15px;
    }

    .fa-arrow-down{
        font-size: 15px;
        width: 35px;
        height: 35px;
        line-height: 30px;
        padding: 3px; 
    }

    /* third section desktop media query */

    /* fourth section Benefits media query */
    .column{
        flex-basis: calc(100% / 3);
    }
    
}

